/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(13, 40, 197);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ff3;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1 {
    font-weight: initial;
    text-align: center;
}

h2 {
    font-weight: bold;
    text-align: center;
}

p {
    font-weight: bold;
    text-align: center;
}

table, th, td {
    border: 2px solid green;
    border-collapse: collapse;
}

th {
    background-color: lightblue;
}

th, td {
    padding: 20px;
    text-align: center;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: green;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 12px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 17px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 20px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 20px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .column {
    float: left;
    width: 50%;
  }
  
  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Two Equal Columns</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Column 1</h2>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
  </div>
</div>

a:hover {
  background-color: yellow;
}